@model UsersModel

@{
    ViewData["Title"] = Model.UserId == 0 ? "Add User" : "Edit User";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
   
    <form asp-action="AddEditUser" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" asp-for="UserId" />

        <input type="hidden" asp-for="CreatedAt" />
        <input type="hidden" asp-for="ModifiedAt" />

        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PasswordHash" class="form-label">Password</label>
            <input asp-for="PasswordHash" type="password" class="form-control" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="IsActive" class="form-check-input" type="checkbox" />
            <label asp-for="IsActive" class="form-check-label"></label>
        </div>


        <button type="submit" class="btn btn-primary">@((Model.UserId == 0) ? "Add" : "Update")</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
